.page-container {
    width: 580px; /* 768px is iPad */
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    left: 50%;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

.outer-container {
    width: 800px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    font-family: "Open Sans", sans-serif;
}

.about-sec {
    width: 480px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
}

.titles {
    text-align: center;
    letter-spacing: 0.05em;
}

.titles p {
    color: lightslategray;
    font-size: 20px;
    font-weight: 300;
    margin-top: -15px;
    padding-left: 20px;
    padding-right: 20px;
}

.titles h1{
    font-weight: 800;
    color: rgb(32,32,32);
    font-family: 'Marck Script', cursive;
    font-size: 40px;
}

h1 {
    font-weight: 800;
    color: rgb(32,32,32);
    font-family: 'Marck Script', cursive;
    font-size: 40px;
}

#img-home {
    width: 80%;
}


.image-stack {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
}

.image-stack__item--bottom {
    grid-column: 1 / span 12;
    grid-row: 1;
    background-color: black;
    margin-top: 10px;

}

.image-stack__item--bottom img {
    opacity: 0.8;

}

.image-stack__item--top3 {
    grid-row: 1;
    grid-column: 3 / span 8;
    padding: 17%;
    margin-top: 5px;
    z-index: 2;
}

.image-stack__item--top3 img {
    border: 3px solid white;
}

img {
    width: 100%;
    display: block;
}

#about-img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/*img {
    width: 40%;
    border-radius: 5%;
}*/

.social-media {
    width: 100%;
    font-size: 0.5rem;
    margin-top: 30px;
}

.social-media ul {padding:0}
.social-media ul li {
    list-style: none;
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
}

.social-media ul a {
    color: salmon;
}

.social-media ul i:hover {
    transform: scale(1.2);
    transition: 0.1s linear;
}

.homenav {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

.homenav ul {padding:0}
.homenav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    letter-spacing: 0.1em;
    font-weight: bold;
}

.homenav ul a {
    color: lightslategray;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease;
}

.homenav ul a:hover {
    color: salmon;
    transition-delay: 0.03s;
}

.gennav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    letter-spacing: 0.1em;
    font-weight: bold;
}

.gennav ul a {
    color: lightslategray;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease;
}

.gennav ul a:hover{
    color: salmon;
    transition-delay: 0.03s;
}

.gentext {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #666666;
    text-align: left;
    letter-spacing: 0.05em;
    line-height: 1.5em;
}

.botnav {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.botnav ul {padding:0}
.botnav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
}

.botnav ul a {
    color: lightslategray;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease;
}

.botnav ul a:hover {
    color: salmon;
    transition-delay: 0.03s;
}

/* hamburger */


#menuToggle
{
  display: block;
  position: relative;
  top: 10px;
  left: 10px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 3; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 3;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 100%;
  margin: -100px 0 0 -50px;
  padding-top: 50px;
  padding-right: 50px;
  text-align: right;
  
  background: none;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding-top: 15px;
  padding-left: 5px;
  padding-bottom: 15px;
  font-size: 18px;
  display: inline-block;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}





/* bars */

.footer-bar {
    width: 140px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    border-bottom: 1px solid rgb(151, 171, 190);
    font-size: 10px;
}

.project-bar {
    width: 100%;
    margin-top: 20px;
    border-bottom: 1px solid #ededed;
    font-size: 10px;
}


/* footer styles */

.footer-para {
    font-size: 12px;
}

footer ul {padding:0}
footer ul li {
    list-style: none;
    display: inline-block;
    font-size: 0.7rem;
    margin-bottom: 20px;
    padding: 3px;
}

footer ul a {
    color: salmon;
}

#footer-index ul {padding:0}
#footer-index ul li {
    list-style: none;
    display: inline-block;
    font-size: 0.7rem;
    margin-bottom: 20px;
    padding: 3px;
}
#footer-index ul a {
    color: lightslategray;
    opacity: 50%;
}

/* misc styles */

.highlight {
    color: salmon;
}

/* read more buttons, citation, project styling*/

.read-more-state {
    display: none;
}

.read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: 0.25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
    content: "Show more";
}

.read-more-state:checked ~ .read-more-trigger:before {
    content: "Show less";
}

.read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0 0.5em;
    color: #666;
    font-size: 0.9em;
    line-height: 2;
    border: 1px solid #ddd;
    border-radius: 0.25em;
}

.hanging {
    padding-left: 22px ;
    text-indent: -40px ;
    text-align: justify;
}

.hanging a {
    color: rgb(32,32,32);
    opacity: 70%;
    transition: 0.2s ease;
}

.hanging a:hover {
    opacity: 100%
}



