
@media screen and (min-width:800px) {
    .botnav {
        display: none;
    }
    #menuToggle {
        display: none;
    }
}

@media screen and (max-width:799px) {
    .outer-container {
        width: 100%;
    }
    .botnav {
        display: none;
    }
    #menuToggle {
        display: none;
    }
}

@media screen and (max-width:579px) {
    .page-container {
        width: 100%;
    }
    header {
        width: 100%;
    }
    .about-sec {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
    .botnav {
        display: inline-block;
    }
    .gennav {
        display: none;
    }
    #menuToggle {
        display: block;
    }

}

@media screen and (max-width:415px) {
    .page-container {
        width: 100%;
    }
    header {
        width: 100%;
    }
    .titles p {
        font-size: 17px;
    }
    .botnav {
        display: inline-block;
    }
    .gennav {
        display: none;
    }
    #menuToggle {
        display: block;
    }

}

@media screen and (max-width:319px) {
    .page-container {
        width: 100%;
    }
    header {
        width: 100%;
    }
    img {
        width: 45%;
    }
    .footer-bar {
        width: 45%;
    }
    .gennav {
        display: none;
    }
    #menuToggle {
        display: block;
    }
}

@media screen and (max-width:300px) {
    .page-container {
        width: 300px
    }
    .gennav {
        display: none;
    }
    #menuToggle {
        display: block;
    }
}